<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="javascripts/index.js"></script>
    
    <title>document</title>
    <script src="http://www.goat1000.com/tagcanvas.min.js?2.9" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300" rel="stylesheet" />
    <link href="stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>
<body id="registr-bg">
    <div id="paper">
        <form action="/register" method="post" enctype="multipart/form-data">
            기업 명 <br/> <input type="text" name="corpname" minlength="1"> <br><br>
            사업자번호 <br/> <input type="number"  minlength="3" maxlength="3" name="corpnum1">-<input type="number"  minlength="2" maxlength="2" name="corpnum2">-<input type="number"  minlength="5" maxlength="5" name="corpnum3"> <br><br>

            홈페이지 <br/> <input type="text" name="homepage"> <br>
            <br>

            자본금 <br/> <input type="text" name="finance">₩ <br><br/>
            시장종류 : 
                <input type="radio" name="market" value="kospi"> 코스피
                <input type="radio" name="market" value="kosdaq"> 코스닥
                <input type="radio" name="market" value="unlisted"> 비상장 <br>
            종목코드 <input type="number" name="stockcode"> <br>
            <br>

            설립년도 <br/> <input type="number" name="year" min="1800" max="2018"> <br>
            직원수 <br/> <input type="number" name="workers" min="1"> <br>
            <br>

            업종분류 : <select name="category" form="register">
                <option value=" 농업, 임엄, 어업">농업, 임엄, 어업</option>
                <option value="제조업">제조업</option>
                <option value=" 전기, 가스, 수도, 폐기물처리"> 전기, 가스, 수도, 폐기물처리</option>
                <option value="건설업">건설업</option>
                <option value="유통업(도, 소매 및 창고)"> 유통업(도, 소매 및 창고)</option>
                <option value="숙박 및 음식점"> 숙박 및 음식점</option>
                <option value="전문 과학, 정보통신업"> 전문 과학, 정보통신업</option>
                <option value="공공(행정, 국방, 공익)"> 공공(행정, 국방, 공익)</option>
                <option value="교육">교육</option>
                <option value="보견 및 의료"> 보견 및 의료</option>
                <option value="스포츠, 여가, 방송통신"> 스포츠, 여가, 방송통신</option>
                <option value="사업시설 관리 및 임대 서비스업"> 사업시설 관리 및 임대 서비스업</option>
            </select> <br><br/>
            소개 : <textarea name="introduce" rows="5" cols="40" placeholder="250자 이내로 기업 소개를 간결하게 작성하세요."></textarea> <br>
            <br>

            연락처 <br/> <input type="number" name="phone"> <br>
            이메일 <br/> <input type="email" name="mailaddr"> <br><br/>
            로고 <br/> <input type="file" name ="img" style="width: 600px;"><br>
            <br>

            <button class="submit-button" type="submit">제출</button>

        </form>
    </div>
</body>
</html>