<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="javascripts/index.js"></script>
    
    <title>document</title>
    <script src="http://www.goat1000.com/tagcanvas.min.js?2.9" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300" rel="stylesheet" />
    <link href="stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>
<body id="registr-bg">
    <div id="paper">
        자본금 <br/> <input type="text" name="finance">₩ <br><br/>

        사업장 종류 : 
        <input type="radio" name="kindcorp" value="9999"> 일반사업장
        <input type="radio" name="kindcorp" value="0000"> 주사업장
        <input type="radio" name="kindcorp" value=""> 종사업장 <br><br/>

        업종분류 : <select name="category" form="register">
            <option value="1">첫번째리스트</option>
            <option value="2">두번째리스트</option>
            <option value="3">세번째리스트</option>
            <option value="4">네번째리스트</option>
        </select> <br><br/>
        소개 : <textarea name="introduce" rows="5" cols="40" placeholder="250자 이내로 기업 소개를 간결하게 작성하세요."></textarea> <br>
        <br>
        이메일 <br/> <input type="email" name="mailaddr"> <br><br/>
        로고 <br/> <input type="file" name ="img" style="width: 600px;"><br>
        <br>
        <input class="submit-button" type="submit">
    </div>
</body>
</html>