<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>asdf</title>
</head>
<body>
<form action="/multer" method="post" enctype="multipart/form-data">
    <input type="file" name="img">
    <input type="submit">
</form>
</body>
</html>
